<div class="container-fluid blogs">
    <div class="container allblog">

        <p>
            Chẳng cần cầu kì, màu sắc, những items với phong cách tối giản vẫn khiến giới trẻ "phát cuồng" vì sự thoải mái, trẻ trung mà nó mang lại.
        </p>

        <p>Phong cách thời trang tối giản – minimalism được nhiều fashionista ưa chuộng bởi sự thời thượng, nổi bật cũng như tính ứng dụng cao của nó. Ra đời từ những năm 20, phong cách thời trang tối giản đến nay vẫn chưa bao giờ lỗi mốt và có dấu hiệu giảm nhiệt. <br>

            Phổ biến không chỉ trong giới thời trang, minimalism hiện nay còn lan tỏa rộng rãi trong cộng đồng giới trẻ bởi sự đơn giản, tinh tế lại không kém phần thời thượng. Giờ đây, thay vì diện những bộ cánh kiểu cách, với nhiều hình thù, hoạ tiết, người trẻ thường chọn những item đơn sắc, gọn gàng và mix thật đơn giản để tạo nên những set đồ "chất ngất", phù hợp với mọi bối cảnh. Các nhãn hàng, thương hiệu thời trang từ đó cũng cho ra đời rất nhiều sản phẩm theo phong cách đơn giản, tiện lợi nhất, hướng tới vẻ đẹp tinh tế, thanh lịch và những giá trị ý nghĩa cho giới trẻ. <br>
            
            Hiện nay, một trong những thương hiệu hàng đầu trong phong cách minimalism  phải kể đến Camelia - nơi sở hữu nhiều item túi, ví, balo tối giản được đông đảo giới trẻ ưa chuộng. Nếu đang theo đuổi phong cách tối giản thì còn chờ gì nữa mà không khám phá ngay Camelia thôi!
        </p>

        <img src="./assets/images/blog1.jpg" alt="">

    </div>
</div>